<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="college.management">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".StudentLogin"
            android:label="@string/title_activity_student_login" />
        <activity
            android:name=".TeacherLogin"
            android:label="@string/title_activity_teacher_login" />
        <activity
            android:name=".StudentProfile.StudentproA"
            android:label="@string/title_activity_studentpro" />
        <activity android:name=".Attendance" />
        <activity android:name=".Marks" />
        <activity android:name=".TeacherProfile.TeacherProA" />
        <activity android:name=".GiveAttendance" />
        <activity android:name=".GiveMarks" />
        <activity android:name=".TakeAttendance" />
        <activity android:name=".TakeMarks" />
        <activity android:name=".StudentProfile.StudentproB" />
        <activity android:name=".MarksA" />
        <activity android:name=".AttendanceA" />
        <activity android:name=".MarksB" />
        <activity android:name=".StudentProfile.StudentproC" />
        <activity android:name=".AttendanceB" />
        <activity android:name=".StudentProfile.StudentproD" />
        <activity android:name=".MarksC" />
        <activity android:name=".AttendanceC" />
        <activity android:name=".MarksB2"></activity>
    </application>

</manifest>
